<!DOCTYPE html>
<html>
<head>
  <title>Unity</title>
  <%= stylesheet_link_tag    "unity/application", media: "all" %>
  <%= javascript_include_tag "unity/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
