%div.small-12.columns
  %div.small-12.columns
    %label Billing cycle
  %div.small-12.columns
  = form_for :subscription,
    url: [:subscription],
    method: :put,
    html: { id: "braintree-payment-form",
    "data-validate": "data-validate",
    "no-validate": "no-validate" } do |f|

    = render "plan_options"

    .submit-field
      = f.submit "Update Subscription"

= link_to "Cancel Subscription", [:subscription, :delete]
