- if Unity.hosted_fields
  .secondary-heading
    Payment Details
  .row
    %label.label{ for: "card-number" } Card Number
    .text-field#card-number
  .row
    .small-4.columns.text-field-padding
      %label.label{ for: "card-expire-month" } Expiration Month
      .text-field#card-expire-month
    .small-4.columns.text-field-padding
      %label.label{ for: "card-expire-year" } Expiration Year
      .text-field#card-expire-year
    .small-4.columns.text-field-padding
      %label.label{ for: "cvv-field" } CVC - Security Code
      .text-field#cvv-field

  %script{ src: "//cdnjs.cloudflare.com/ajax/libs/require.js/2.3.1/require.min.js" }
  :javascript
    braintree_hosted_fields_setup('#{@token}');

- else
  %script{ src: "https://js.braintreegateway.com/web/dropin/1.10.0/js/dropin.min.js",
    "data-braintree-dropin-authorization": "#{@token}",
    "data-paypal.flow": "vault" }
