.secondary-heading
  Payment Details
.row
  %label.label{ for: "card-number" } Card Number
  .text-field#card-number
.row
  .small-4.columns.text-field-padding
    %label.label{ for: "card-expire-month" } Expiration Month
    .text-field#card-expire-month
  .small-4.columns.text-field-padding
    %label.label{ for: "card-expire-year" } Expiration Year
    .text-field#card-expire-year
  .small-4.columns.text-field-padding
    %label.label{ for: "cvv-field" } CVC - Security Code
    .text-field#cvv-field
